*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
textarea{
    resize: none;
}

.input-tareas{
    margin: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    flex-flow: column wrap;
    padding: 40px;
    width: 50%;
    justify-content: center;
    text-align: center;
}

button{
    background: none;
    border-radius: 5px;
    border: 1px solid #666;
    padding: 10px;
    box-shadow: 3px 3px 10px #666;
}

.estado{
    margin: 10px;
}

.lista-tareas{
    display: flex;

    justify-content: center;
    width: 100%;
    justify-self: center;
}



.pendiente, .en-proceso, .finalizada{
    width: 200px;
    height: 100px;
    border: 1px solid green;
}

.p-lista{
    border-bottom: 1px solid #000;
    text-align: center;
}