*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #000;
}

body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
textarea{
    border: 2px solid rgb(35, 84, 199);
    resize: none;
    padding: 10px;
}
input{
    border: 2px solid rgb(35, 84, 199);
    padding: 10px;
}

.input-tareas{
    margin: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    flex-flow: column wrap;
    padding: 40px;
    width: 50%;
    justify-content: center;
    text-align: center;
}

#agregar{
    background: none;
    border-radius: 5px;
    border: 2px solid rgb(35, 84, 199);
    padding: 10px;
    box-shadow: 3px 3px 10px #666;
}

.estado{
    margin: 10px;
}

.lista-tareas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    justify-self: center;
}



.pendiente, .en-proceso, .finalizada{
    width: 90%;
    height: auto;
    border: 3px solid #f50;
    border-radius: 2px;
}

.en-proceso{
    border: 3px solid rgb(226, 216, 25);
}
.finalizada{
    border: 3px solid rgb(45, 192, 45);
}

.p-lista{
    border-bottom: 1px solid #aaa;
    text-align: center;
}

.pendiente .nombre-tarea {
    color: #f50;
}
.en-proceso .nombre-tarea {
    color: rgb(226, 216, 25);
}
.finalizada .nombre-tarea {
    color: #0f0;
}

.nombre-tarea{
    text-align: center;
}
.descripcion-tarea{
    text-align: center;
}